@using Microsoft.Extensions.Options
@model EFlowerShop.Domain.DTO.ShoppingCartDto
@inject IOptions<EFlowerShop.Domain.StripeSettings> Stripe

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('https://w0.peakpx.com/wallpaper/511/371/HD-wallpaper-yellow-tulips-wooden-background-light-boards-yellow-flowers-tulips-beautiful-flowers-spring.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 1375px;
    }
</style>

<div class="container">

    <div class="row m-4">

        @if (Model.TotalPrice != 0)
        {
            <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
                <article>
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="EFlowerShop Application Payment"
                            data-amount="@(Model.TotalPrice * 100)"
                            data-label="Pay $@Model.TotalPrice">
                    </script>
                </article>
            </form>
        }
    </div>

    <div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Flower Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Flower Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Flowers.Count == 0)
                {
                    <tr>
                        <td colspan="5" class="font-weight-bold">No active Flowers</td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.Flowers.Count; i++)
                    {
                        var item = Model.Flowers[i];

                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td class="font-weight-bold">@item.Flower.FlowerName</td>
                            <td class="font-weight-bold">@item.Quantity</td>
                            <td class="font-weight-bold">$@item.Flower.FlowerPrice</td>
                            <td><a asp-controller="ShoppingCart" asp-action="DeleteFromShoppingCart" asp-route-id="@item.FlowerId" class="btn btn-danger">Delete From Shopping Cart</a></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th scope="col">Total Price:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">$@Model.TotalPrice</th>
                </tr>
            </tfoot>
        </table>
        <div class="form-group">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>
        </div>
    </div>

</div>